# fly.toml app configuration file generated for phoenix-bigardone-dev on 2025-12-20T09:38:00+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'phoenix-bigardone-dev'
primary_region = 'cdg'
kill_signal = 'SIGTERM'

[build]

[env]
  PHX_HOST = 'phoenix-bigardone-dev.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
